:root {
    --accent-color: #4D5AE5;
    --main-color: #2E2F42;
    --color-white: #F4F4FD;
    --color-blau: #404BBF;
    --color-text: #434455;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul, 
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.container {
    width: 100%;
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.visually-hidden {
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

/*--------------HEADER-----------------*/

.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-logo {
    color: var(--accent-color);
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo-accent {
    color: var(--main-color);
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 332px;
    border-bottom: 1px solid #E7E9FC;
}

.header-navigation {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.header-menu {
    display: flex;
    gap: 40px;
}

.header-address-item {
    display: flex;
    gap: 40px;
}

.header-menu-link {
    color: var(--main-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: var(--color-blau);
}

.header-address {
    font-style: normal;
}

.header-address-info {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-left: auto;
}

.header-address-info:hover,
.header-address-info:focus {
    color: var(--color-blau);
}

/*--------------HERO-----------------*/

.hero {
    background: var(--main-color);
}

.hero-container {
    padding-top: 188px;
    padding-bottom: 292px;
    text-align: center;
}

.hero-title {
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.hero-btn {
    color: #FFF;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--accent-color);
    cursor: pointer;
    padding: 16px 32px;
    justify-content: center;
}

.hero-btn:hover,
.hero-btn:focus {
    background: var(--color-blau);
}

/*--------------ADVANTAGES-----------------*/

.advantages {
    padding-top: 120px;
    padding-bottom: 120px;
}

.advantages-list {
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    gap: 24px;
}

.advantages-item {
    width: calc((100%-24px*3) / 4);
}

.advantages-subtitle {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.advantages-item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*--------------WEDOING-----------------*/

.wedoing {
    padding-top: 120px;
    padding-bottom: 120px;
}

.wedoing-title {
    color: var(--main-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.wedoing-list {
    display: flex;
}

.wedoing-img {
    width: calc((100%-24px*2) / 3);
}

/*--------------TEAM-----------------*/

.team {
    background-color: var(--color-white);
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title-list {
    background-color: #FFFFFF;
}

.team-title {
    color: var(--main-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-title-list {
    display: flex;
}

.team-advantages {
    background-color: #FFFFFF;
    width: calc((100%-24px*3) / 4);
    justify-content: center;
}

.team-name {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-top: 32px;
    text-align: center;
}

.team-profession {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
    text-align: center;
}

/*--------------FOOTER-----------------*/

.footer {
    background: var(--main-color);
}

.footer-cotainer {
    padding-top: 100px;
    padding-bottom: 140px;
    margin-bottom: 100px;
}

.footer-logo {
    color: var(--accent-color);
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 18px;
    justify-content: center;
}

.footer-logo-accent {
    color: var(--color-white);
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 18px;
    justify-content: center;
}

.footer-text {
    color: var(--color-white);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

/*--------------PORTFOLIOMENU-----------------*/

.menu-list {
    padding-right: 427px;
    padding-left: 427px;
    display: flex;
    gap: 24px;
    width: calc((100%-24px*4) / 5);
    justify-content: center;
}

.menu-button-link {
    color: var(--accent-color);
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--color-white);
    cursor: pointer;
    padding-right: 24px;
    padding-left: 24px;
    justify-content: center;
    margin-top: 96px;
    margin-bottom: 72px;
}

.menu-button-link:hover,
.menu-button-link:focus {
    color: #FFFFFF;
}

.menu-button-link:hover,
.menu-button-link:focus {
    background-color: #404BBF ;
}

/*--------------OPTIONS-----------------*/

.options {
    display: flex;
    flex-wrap: wrap;
    width: calc((100%-24px*8) / 9);
    gap: 24px;
    justify-content: space-between;
    padding-bottom: 120px;
}

.options-list-head {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-top: 32px;
}

.options-list-function {
    color: var(--color-text);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}